/**
    MIT Licence:

    Copyright 2021 (c)ROS_Project_Group {TH Koeln - 6.Semester - Medientechnologie}

    Permission is hereby granted, free of charge, to any person obtaining a copy of this
    software and associated documentation files (the "Software"), to deal in the Software
    without restriction, including without limitation the rights to use, copy, modify, merge,
    publish, distribute, sublicense, and/or sell copies of the Software, and to permit
    persons to whom the Software is furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all copies or
    substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
    INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
    PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
    FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
    OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
    DEALINGS IN THE SOFTWARE.


    - - - - - - - - - - - - - - - - - - - - -

    The color palette definitions
    for the frontend websites
    used for the ros project
    <br>
    Color Definitions by David Martin Karg
    <br>
    @author benwinter (070702021)

    Color Specifications done by davidMK

    - - - - - - - - - - - - - - - - - - - - -

    lb : light-blue
    sb : secondary-blue
    pb : primary-blue
    db : dark-blue

    lr : light-red
    sr : secondary-red
    pr : primary-red
    dr : dark-red

 */

/*
    regular color definitions
 */
.ros-lb {
    color: #cee3f2;
}

.ros-sb{
    color: #a7bfd1;
}

.ros-pb {
    color: #4c657c;
}

.ros-db {
    color: #273a4c;
}

.ros-lr {
    color: #ffccd2;
}

.ros-sr {
    color: #ed8a98;
}

.ros-pr {
    color: #db4f60;
}

.ros-dr {
    color: #c1303f;
}

/*
    background color definitions
 */
.ros-bg-lb {
    background-color: #CEE3F2;
}

.ros-bg-sb {
    background-color: #A7BFD1;
}

.ros-bg-pb {
    background-color: #4C657C;
}

.ros-bg-db {
    background-color: #273A4C;
}

.ros-bg-lr {
    background-color: #FFCCD2;
}

.ros-bg-sr {
    background-color: #ED8A98;
}
.ros-bg-pr {
    background-color: #DB4F60;
}

.ros-bg-dr {
    background-color: #C1303F;
}
