<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/color_sceme.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/main.js"></script>
    <script src="/js/rot13.js"></script>
    <script defer src="/js/pwr.js"></script>
</head>
    <body class="ros-bg-lb container-fluid">
        <div class="row justify-content-center mt-5">
            <div class="col-2">
                <div class="row">
                    <div class="col-12 mt-2 text-right font-italic font-weight-bold" style="font-size: 26px">
                        Room Occupancy System
                    </div>
                </div>
            </div>
            <div class="col-2">
                <img class="ml-4 mt-4" src="/svg/ros_icon.svg" width="60em" height="80em">
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-4 text-center font-weight-bold font-italic" style="font-size: 18px">
                Password Reset
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-5 text-center">
                    To request a password reset, enter your email below
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-4 text-center" style="font-size: 12px">
                If the entered address is registered in our system, you will recieve an automaticly generated email from us within the next couple of minutes
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-6">
                <div class="row justify-content-center mt-2">
                    <p id="a0" class="ros-dr" style="font-size: 16px;"></p>
                </div>
                <div class="row justify-content-center">
                    <p id ="a1" class="ros-dr" style="font-size: 12px"></p>
                </div>
                <div class="row justify-content-around pt-3">
                    <input class="input-group-text col-6 text-center" placeholder="email"  id="i0" style="width: 80%">
                </div>
                <div class="row justify-content-around mt-2">
                    <button class="btn ros-bg-sr" onclick="a()">Request</button>
                </div>
            </div>
        </div>
        <div>


        </div>
    </body>
</html>