<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/color_sceme.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/main.js"></script>
    <script src="/js/rot13.js"></script>
    <script src="/js/pw.js"></script>
</head>
<body class="ros-bg-lb container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-2">
            <div class="row">
                <div class="col-12 mt-2 text-right font-italic font-weight-bold" style="font-size: 26px">
                    Room Occupancy System
                </div>
            </div>
        </div>
        <div class="col-2">
            <img class="ml-4 mt-4" src="/svg/ros_icon.svg" width="60em" height="80em">
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-4 text-center font-weight-bold font-italic" style="font-size: 18px">
            Password Reset
        </div>
    </div>
        <div class="row justify-content-center">
            <div class="col-5 text-center">
                Enter here your new password
        </div>
    </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="row justify-content-around mt-4">
                <input class="input-group-text col-6 text-center" placeholder="password" type="password" id="i0" style="width: 80%">
            </div>
            <div class="row justify-content-around mt-4">
                <input class="input-group-text col-6 text-center" placeholder="password" type="password" id="i1" style="width: 80%">
            </div>
            <div class="row justify-content-center mt-4">
                <button class="btn ros-bg-sr" id="b0" onclick="a.f()">Reset</button>
            </div>
        </div>
    </div>
</body>
</html>